.App {
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  background-color: #9ed2c6;
  color: black;
}

.playlist {
  border-radius: 40px;
  margin-top: 30px;
}

.code-link {
  color: black;
}
