.Weather {
  border: 1px solid #9ed2c6;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  padding: 16px;

  border-radius: 4px;
  background-color: #9ed2c6;
}

.Weather h1 {
  font-size: 24 px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16 px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #ac7088;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .unit {
  color: #ac7088;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #b1d7b4 !important;
  border-color: #483838;
  color: grey;
}

.btn-primary:hover {
  background-color: #eae3d2 !important;
  color: #748da6;
  border-color: #eae3d2;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.Weather .form-control {
  background-color: #b1d7b4 !important;
  border-color: #483838;
  color: grey;
}
